.list{
    list-style-type: none;
}
.link{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
button {
    cursor: pointer;
}
body {
    background-color: #FAFAFA;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: #111;
}
.accent-color {
    color: #fd9222;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
/*----------------------------header-------------------------------*/
.div-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo-header{
    color: #111;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.header-menu-list{
    display: none;
}
.list-icons{
    display: none;
}
.mobile-menu-btn{
    width: 28px;
    height: 28px;
    background-color: transparent;
    border:none;
    padding: 0;
    line-height: 0;
    stroke: #111;
}

@media screen and (max-width: 768px){
.header {
        padding-top: 20px;
        padding-bottom: 14px;
    }
}
/*----------------------------mobile menu-------------------------------*/
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width:220px;
    height: 100%;
    z-index: 99999;
    background-color: #1E1823;;
    display: flex;
    transform: translateX(100%);
}
.mobile-menu-overlay.is-open {
    transform: translateX(0%);
    transition: 250ms linear;
}

.mobile-container {
    width: 220px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.mobile-menu-btn{
    position: absolute;
    right: 20px;
    width: 28px;
    height: 28px;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
    stroke:#FFF;
}
.mobile-menu-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 136px;
}
.mobile-link{
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
}
.menu-list-icons{
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-right: auto;
}
.menu-link-icon{
    width: 100%;
    height: 100%;
    line-height: 0;
    fill: none;
    stroke: #FFF;
}
/*----------------------------tablet header-------------------------------*/
@media screen and (min-width: 768px){
.container{
    max-width: 768px;
}
.mobile-menu-btn{
    display: none;
}
.header-nav{
    display: flex;
    width: 590px;
    justify-content: space-between;
    align-items: center;
}
.header-menu-list {
    display: flex;
    column-gap: 24px;
    padding-top: 28px;
    padding-bottom: 32px;
}
.menu-header-link{
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    padding-top: 28px;
    padding-bottom: 36px;
    transition: color 250ms linear;
}
.menu-header-link:hover,
.menu-header-link:focus{
    color: #FD9222;
}
.list-icons {
    display: flex;
    gap: 18px;
}
.icons-list-link{
    display: block;
    line-height: 0;
    fill: none;
    stroke:#111;
    transition: stroke 250ms linear;
}
.icons-list-link:hover,
.icons-list-link:focus{
    stroke: #FD9222 ;
}
}

/*---------------------------- desctop header-------------------------------*/
@media screen and (min-width: 1200px){
.container{
    max-width: 1200px;
}
.header-nav{
    width: 980px;
    margin-right: 90px;
}

}
/*----------------------------------MAIN-------------------------------*/
.main-div-sec{
    background-color: rgba(17, 17, 17, 0.40);
    background-image:linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%), url("../imeges/mob-choco-main1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 335px;
    height: 621px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    gap: 32px;
}

@media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-devise-pixel-ratio: 2){
        .main-section {
            background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%),
                url("../imeges/mob-made-choco@2x.jpg");
        }

}
.main-sec{
    padding-bottom: 60px;
}
.main-title{
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.20;
    letter-spacing: 0.02em;
    width: 299px;
}
.main-links{
    display: flex;
    gap: 14px;
}
.btn-sec-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FD9222;
    border: none;
    border-radius: 100px;
    width: 120px;
    height: 41px;
    color: #FFF;
    font-weight: 500;
}
.lnk-sec-title {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    border-radius: 100px;
    border: 1px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 41px;
}
.lnk-title-scroll{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #FFF;
    line-height: 1.3;
    letter-spacing: 0.03em;
    font-weight: 500;
}
.scroll-down-icon-wrapper {
    background-color:#FFF;
    fill: #FD9222;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    padding: 0;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------------------------TABLET MAIN-------------------------------*/
@media screen and (min-width: 768px){
.container{
    padding-left: 32px;
    padding-right: 32px;
}
.main-div-sec{
    background-image: url("../imeges/tablet-choco-main.jpg");
    max-width: 704px;
    height: 890px;
    padding: 40px;
}
@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-devise-pixel-ratio: 2) {
    .main-section {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%),
            url("../imeges/tablet-choco-main1@2x.jpg");
    }
}
.main-title{
    width: 484px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.btn-sec-title,
.lnk-sec-title,
.lnk-title-scroll,
.scroll-down-icon-wrapper{
    transition: background-color 250ms linear, color 250ms linear;
}
.btn-sec-title:hover,
.btn-sec-title:focus{
    background-color: #FCF1E0;
    color: #FD9222;
}

.lnk-sec-title:hover,
.lnk-sec-title:focus{
    border-color: #FD9222;
    color: #FD9222;
}

.lnk-title-scroll:hover,
.lnk-title-scroll:focus{
    color: #FD9222;
}
.scroll-down-icon-wrapper:hover,
.scroll-down-icon-wrapper:focus{
    background-color:#FD9222;
    stroke: #FAFAFA;
    fill: #FAFAFA;
}
}
/*---------------------------------DESCTOP MAIN-------------------------------*/
@media screen and (min-width: 1200px){
.main-div-sec {
        background-image: url("../imeges/desc-choco-main\ 1.jpg");
        min-width: 1136px;
        height: 600px;
        padding: 40px;
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-devise-pixel-ratio: 2) {
        .main-section {
            background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%),
                url("../imeges/desc-choco-main\ 1@2x.png");
        }
    }

}

/*---------------------------------BENEFITS-------------------------------*/
.sec-benefits{
    background-color: #1E1823;
    padding: 20px 20px 30px 20px;
}
.benefits-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.benefits-list-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 365px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    margin-bottom: 22px;
}
.benef-title{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
}
.par-benefits{
    color: rgba(255, 255, 255, 0.70);
    letter-spacing: -0.02em;
    line-height: normal;
}

/*-------------------------------TABLET BENEFITS-------------------------------*/
@media screen and (min-width: 768px){
.sec-benefits{
    padding: 50px 60px 85px 32px;
}
.benefits-list-item{
    width: 308px;
}
.benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 60px;
}
}

/*-------------------------------DESCTOP BENEFITS-------------------------------*/
@media screen and (min-width: 1200px){
.sec-benefits {
        padding: 50px;
        min-height: 344px;
    }
.benefits-list-icon-wrapper{
    margin-bottom: 0;
}
.line{
    padding: 22px 18px 0 0;
    width: 326px;
}
.line{
    border-right: 1px solid rgba(255, 255, 255, 0.50);
    height: 125px;
}
.non-line{
    border: none;
    padding-left: 0;
}
.benefits-list{
    gap: 0;
    justify-content: space-between;
}
}
/*-------------------------------INGREDIENTS---------------------------------*/
.div-ingred{
    padding-top: 60px;
    padding-bottom: 30px;
}
.ingredients-section-title{
    width: 283px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}
.par-ingred{
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
}
.ingred-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ingred-list-item > p{
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
.ingred-list-item{
    padding: 28px;
    border-radius: 15px;
}
.ingred-list-item:nth-child(4n+1){
    color: #FFF;
    background-color: #FD9222;
}
.ingred-list-item:nth-child(even){
    background-color: #FFF;
    color: #111;
    border: 1px solid #FD9222;
}
.ingred-list-item:nth-child(4n-1){
    background-color: #1E1823;
    color: #FFF;
    border-color: #1E1823;
}
.ingred-img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

/*-------------------------------TABLET INGREDIENTS-------------------------------*/
@media screen and (min-width: 768px){
.div-ingred{
    padding: 80px 32px 40px 32px;
}
.ingredients-section-title{
    width: 411px;
}
.par-ingred{
    width: 486px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.ingred-list{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}
.ingred-list-item{
    width: 335px;
}

.order2{
    order: 3;
}
.order3{
    order: 4;
}
.order4{
    order:2;
}

}

/*-------------------------------DESCTOP INGREDIENTS----------------------------------*/
@media screen and (min-width: 1200px){
.div-ingred {
    padding-top: 100px;
    padding-bottom: 50px;
    }
.ingred-list {
    flex-wrap: nowrap;
    gap: 19px;
}
.ingred-list-item{
    width: 270px;
    order: 0;
}

}
/*-------------------------------HOW ITS MADE-------------------------------*/
.div-made{
    padding-top: 30px;
    padding-bottom: 30px; 
    position: relative;
}
.main-title-how-made{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.play-icon{
    position: absolute;
    left: 170px;
    top: 322px;
    stroke: #FAFAFA;
    fill: #FAFAFA;
}
.img-how-made{
    margin-bottom: 20px;
}
.text-part-how-made{
    padding: 20px 14px;
    border-radius: 15px;
    background: #FFF;
}
.title-how-made{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
}
.list-how-made{
    padding-left: 14px;
}

.list-item-how-made:not(:last-child){
    margin-bottom: 18px;
}

/*-------------------------------TABLET HOW ITS MADE-------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1199px){
.div-made{
    padding-left: 77px;
    padding-right: 77px;
}
}
@media screen and (min-width: 768px){
.main-title-how-made{
    margin-bottom: 50px;
}
.play-icon{
    display: none;
}
.text-part-how-made{
    padding: 32px;
}
.title-how-made{
    max-width: 360px;
    margin-bottom: 28px;
}
}
/*-------------------------------DESKTOP HOW ITS MADE----------------------------------*/
@media screen and (min-width: 1200px){
.how-made-desctop{
    display: flex;
    gap:20px;
}
.text-part-how-made{
    height: 400px;
}
}
/*----------------------------------REVIEWS-------------------------------*/
.div-review{
    padding-top: 30px;
    padding-bottom: 60px;
}
.main-tilte-review{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 74px;
}
.list-item-review{
    position: relative;
    height: 200px;
    padding: 56px 18px 42px;
    margin-bottom: 20px;
    background-color: #FFF;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
}
.photo-review{
    position: absolute;
    left: 127px;
    top: -40px;
    margin-bottom: 18px;
}
.name-reviews{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3; 
    margin-bottom: 24px;
}
.reviews-par{
    text-align: center;
    color: rgba(17, 17, 17, 0.70);
}
.div-icons-review{
    display: flex;
    gap: 13px;
    justify-content: center;
    margin-bottom: 32px;
}
.icons-review{
    fill: rgba(17, 17, 17, 0.10);
}
.button-review{
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid #FD9222;
    padding: 12px 28px;
    font-weight: 600;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.list-item-review:not(:first-child){
     display: none;
}
/*-------------------------------TABLET REVIEWS-------------------------------*/
@media screen and (min-width: 768px){
.main-tilte-review{
    margin-bottom: 91px;
    font-size: 24px;
}
.list-review{
    display: flex;
    justify-content: space-between;
}
.list-item-review{
    width: calc((100% - 16px)/2);
    margin-bottom: 31px;
}
.button-review{
    padding: 14px 40px;
    font-size: 18px;
    transition: background-color 250ms linear, color 250ms linear;
}
.button-review:hover,
.button-review:focus{
    background-color: #FD9222;
    color: #FFF;
}
.list-item-review:not(:last-child) {
    display: block;
}
}
/*-------------------------------DESCTOP REVIEWS-------------------------------*/
@media screen and (min-width: 1200px){
.list-item-review:not(:first-child){
    display: block;
}
.list-item-review {
    width: calc((100% - 56px)/3);
    margin-bottom: 49px;
}
.div-icons-review{
    display: none;
}
}

/*-------------------------------FOOTER-------------------------------*/
.section-footer{
    background-color: #1E1823;
    padding-top: 32px;
    padding-bottom: 32px;
}
.div-footer{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.text-header{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.02em;
    max-width: 300px;
}
.contacts-title-footer{
    color: #FFF;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 14px;
}
.address-footer{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.contact-item-footer{
    color: #FFF;
    font-style: normal;
}
.line-footer{
    width: 335px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}
.list-footer-link{
    color: #FFF;
    font-weight: 500;
    font-style: normal;
}
.footer-list-item:not(:last-child){
    margin-bottom: 18px;
}
.input-footer{
    padding: 14px 18px;
    border-radius: 30px;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    background-color: transparent;
    color: #FAFAFA;
    margin-right: 7px;
}
.footer-button{
    padding: 14px 26px;
    border: 0;
    background-color: #FD9222;
    color: #FFF;
    border-radius: 100px;
    font-weight: 600;
    width: 120px;
}
/*------------------------------TABLET FOOTER-------------------------------*/
@media screen and (min-width: 768px){
.section-footer{
    padding-top: 50px;
    padding-bottom: 50px;
}
.div-footer{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.text-header{
    font-size: 28px;
    max-width: 315px;
}
.contacts-footer{
    margin-bottom: 26px;
}
.contact-item-footer{
    transition: color 250ms linear;
}
.contact-item-footer:hover,
.contact-item-footer:focus{
    color:#FD9222;
}
.line-footer{
    width: 704px;
}
.none{
    display: none;
}
.footer-list{
    display: flex;
    gap: 16px;
    align-items: center;
}
.footer-list-item:not(:last-child){
    margin-bottom: 0;
}
.list-footer-link{
    transition: color 250ms linear;
}
.list-footer-link:hover,
.list-footer-link:focus{
    color:#FD9222;
}
.input-footer{
    width: 225px;
}
.footer-button{
    transition: background-color 250ms linear, color 250ms linear;
}
.footer-button:hover,
.footer-button:focus{
   background-color: #FCF1E0;
   color:#FD9222;
}
}

/*------------------------------DESCTOP FOOTER-------------------------------*/
@media screen and (min-width: 1200px){
.line-footer{
    width: 1136px;
}
.input-footer{
    width: 313px;
}
}

/*------------------------------OVERLAY------------------------------*/


/*-------------------------------TABLET OVERLAY-------------------------------*/
 

/*-------------------------------DESCTOP OVERLAY-------------------------------*/


/*------------------------------BACKDROP-------------------------------*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(17, 17, 17, 0.40);
    width: 100%;
    height: 100%;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.div-backdrop{
    position: absolute;
    left: 50%;
    top:50%;
    width: 317px;
    height: 619px;
    background-color: #FAFAFA;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    padding: 32px 24px;
}
.close-form-button{
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: transparent;
    border: none;
    padding: 0;
    width:24px;
    height: 24px;
    stroke: #111;
}
.backdrop-title{
     font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.003em;
    text-transform: uppercase;
    margin-bottom: 32px;
}



/*-------------------------------TABLET BACKDROP-------------------------------*/


/*--------------------------------DESCTOP BACKDROP-------------------------------*/